.btn {
    display: flex;
    justify-content: center;
    align-items: center;

    min-width: 210px;
    padding: 20px 45px;
    border-radius: 5px;

    background: var(--c-button);

    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    color: #FFFFFF;

    @include laptop {
        padding: 17px 30px;

        font-size: 14px;
    }
    @include tablet {
        padding: 7px 10px;
    }

    &:hover, &:focus {
        background: var(--c-button-focus);
        transition: all .2s ease;
    }

    &:active {
        background: var(--c-button-active);
        transition: all .2s ease;
    }

    &_small {
        min-width: 170px;
        // padding: 8px 20px;

        // @include laptop {
        //     width: 110px;
        //     padding: 7px 15px;
        // }
        // @include tablet {
        //     width: 100px;
        //     padding: 5px 15px;
        // }
    }

    &_unfilled {
        background: transparent;
        border: solid 1px #fff;
    }

    &__text {
        font-weight: inherit;
        font-size: inherit;
        line-height: inherit;
        letter-spacing: inherit;
        color: inherit;
        white-space: nowrap;
    }

    &_reverse {
        border: 1px solid #000;
        
        background: #000;

        color: #fff;

        &:hover, &:focus {
            border: 1px solid  #fff;
            background: #fff;
            color: #000;

            transition: .3s all cubic-bezier(0.175, 0.885, 0.32, 1.275);
        }
        &:active {
            border: 1px solid  rgb(240, 240, 240);

            background: rgb(241, 240, 240);
            color: #000;

            transition: .3s all cubic-bezier(0.175, 0.885, 0.32, 1.275);
        }
    }
}